* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 205px;
    height: 40px;
    background-color: #ea4c89;
    border-radius: 4px;
    border: 2px solid #ea4c89;
    color: white;
    font-family: "Courier New", Courier, monospace;
  }
  
  button:hover {
    background-color: white;
    color: #ea4c89;
  }

  form {
    width: 300px;
    height: 400px;
    box-shadow: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 20px;
  }

  input {
    width: 200px;
    height: 40px;
    background-color: white;
    font-family: "Courier New", Courier, monospace;
  }

  .user-profile {
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


  }

  .user-info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    font-family: "Courier New", Courier, monospace;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

.sign-in {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.error{
    color: red;
}

.sign-in-text{
    text-align: center;
}

.sign-in {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
}

.user-profile-page{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}